body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #00701c;
  background:url(images/Nvidia.jpg);
  background-size: cover;   
  display:flex;
  flex-direction: column;  
  justify-content: center;
}

p
{
  font-family: Fira;
  font-size: normal

}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
}

h2 {
  border-bottom: 2px solid #046d0c;
  padding-bottom: 12px;
}

.container {
  width: 510px;
  padding: 0 20px;
}

.site-header {
  min-width: 550px;
  height: 186px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: #026e02 no-repeat center url("img/gloevk-bg.jpg");
  background-size: cover;
  color: #0a6b01;
  display: flex;
  justify-content: space-between;
}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px; 
}

.site-header img {
  display: block;
  margin: 0 auto;
}

.features {
  width: 100%;
  margin: 0 auto 30px;
  padding: 0 20px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.feature-furniture {
  padding-top: 65px;
  background-image: url("img/furniture.svg");
}

.feature-lighting {
  padding-top: 65px;
  background-image: url("img/lighting.svg");
}

.feature-accessories {
  padding-top: 65px;
  background-image: url("img/accessories.svg");
}

.advantages {
  width: 510px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {
  padding: 0;
  list-style: none;  
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 20px solid #838b7d;
  color: #ffffff;
}

/* Добавьте новое пустое правило сюда */

.site-footer {
  min-width: 550px;
  background-color: #046d0c;
  color: #ffffff;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.product
{
    width: 1400px;
    height: 450px;
    border:2px solid rgb(245, 245, 245);
    display: flex;
    margin: 0 auto;
}

.image-product
{
width: 50%;
height: 100%;
border:2px solid rgb(245, 245, 245);
}

.info-product
{
width: 50%;
height: 100%;
border:2px solid rgb(2, 117, 17);
}
.features
{
display:flex;
justify-content:center;
}


@font-face {
  font-family: Fira; /* Гарнитура шрифта */
  src: url(FiraSans/FiraSans-BlackItalic.ttf); /* Путь к файлу со шрифтом */
 }

 .product-index
{
    width: 500px;
    height: 390px;
    border:2px solid rgb(255, 255, 255);
}

.side
{
  width:350px;
}
img{
  margin: 0 auto;
}